In [3]:
!pip3 install mlxtend

Collecting mlxtend
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/52/04/c362f34f666f0ddc7cf593805e64d64fa670ed96fd9302e68549dd48287d/mlxtend-0.17.0-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.3MB 545kB/s ta 0:00:01
Requirement already satisfied: pandas>=0.24.2 in /home/arek/.local/lib/python3.7/site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: setuptools in /home/arek/.local/lib/python3.7/site-packages (from mlxtend) (41.2.0)
Requirement already satisfied: scipy>=1.2.1 in /home/arek/.local/lib/python3.7/site-packages (from mlxtend) (1.3.1)
Collecting joblib>=0.13.2 (from mlxtend)
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl (278kB)
    100% |████████████████████████████████| 286kB 882kB/s ta 0:00:01
Requirement already satisfied: numpy>=1.16.2 in /home/arek/.local/lib/python3.7/site-packages (from mlxtend) (1.17.2)
Requirement already satisfied: matplotlib>=3.0.0 in /home/arek/.local/lib/python3.7/site-packages (from mlxtend) (3.1.1)
Collecting scikit-learn>=0.20.3 (from mlxtend)
  Downloading https://files.pythonhosted.org/packages/9f/c5/e5267eb84994e9a92a2c6a6ee768514f255d036f3c8378acfa694e9f2c99/scikit_learn-0.21.3-cp37-cp37m-manylinux1_x86_64.whl (6.7MB)
    100% |████████████████████████████████| 6.7MB 95kB/s eta 0:00:011   11% |███▊                            | 788kB 1.3MB/s eta 0:00:05    23% |███████▋                        | 1.6MB 1.5MB/s eta 0:00:04    41% |█████████████▏                  | 2.7MB 1.6MB/s eta 0:00:03    41% |█████████████▍                  | 2.8MB 1.6MB/s eta 0:00:03
Requirement already satisfied: pytz>=2017.2 in /home/arek/.local/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/arek/.local/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /home/arek/.local/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/arek/.local/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/arek/.local/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: six>=1.5 in /home/arek/.local/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.12.0)
Installing collected packages: joblib, scikit-learn, mlxtend
Successfully installed joblib-0.13.2 mlxtend-0.17.0 scikit-learn-0.21.3

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori


dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)

In [4]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
8,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
9,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [5]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
1,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
2,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
5,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [6]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,1
1,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1
2,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,2
3,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2
4,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf,1
5,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1

In [7]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.75) &
       (rules['lift'] > 1.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
2,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,2

In [8]:
rules[rules['antecedents'] == {'Eggs', 'Kidney Beans'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
3,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2

In [9]:
rules[rules['antecedents'] == {'Kidney Beans', 'Eggs'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
3,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2

In [10]:
rules[rules['antecedents'] == frozenset(('Kidney Beans', 'Eggs'))]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
3,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2

In [11]:
import pandas as pd

dict = {'itemsets': [['177','176'], ['177','179'], 
                     ['176','178'], ['176','179'], 
                     ['93','100'], ['177','178'], 
                     ['177','176','178']],
        'support':[0.253623, 0.253623, 0.217391,
                  0.217391, 0.181159, 0.108696, 0.108696]}
freq_itemsets = pd.DataFrame(dict)
freq_itemsets

          itemsets   support
0       [177, 176]  0.253623
1       [177, 179]  0.253623
2       [176, 178]  0.217391
3       [176, 179]  0.217391
4        [93, 100]  0.181159
5       [177, 178]  0.108696
6  [177, 176, 178]  0.108696

In [12]:
from mlxtend.frequent_patterns import association_rules

res = association_rules(freq_itemsets, support_only=True, min_threshold=0.1)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(176),(177),NaN,NaN,0.253623,NaN,NaN,NaN,NaN
1,(177),(176),NaN,NaN,0.253623,NaN,NaN,NaN,NaN
2,(179),(177),NaN,NaN,0.253623,NaN,NaN,NaN,NaN
3,(177),(179),NaN,NaN,0.253623,NaN,NaN,NaN,NaN
4,(176),(178),NaN,NaN,0.217391,NaN,NaN,NaN,NaN
5,(178),(176),NaN,NaN,0.217391,NaN,NaN,NaN,NaN
6,(176),(179),NaN,NaN,0.217391,NaN,NaN,NaN,NaN
7,(179),(176),NaN,NaN,0.217391,NaN,NaN,NaN,NaN
8,(93),(100),NaN,NaN,0.181159,NaN,NaN,NaN,NaN
9,(100),(93),NaN,NaN,0.181159,NaN,NaN,NaN,NaN
10,(178),(177),NaN,NaN,0.108696,NaN,NaN,NaN,NaN
11,(177),(178),NaN,NaN,0.108696,NaN,NaN,NaN,NaN
12,"(176, 177)",(178),NaN,NaN,0.108696,NaN,NaN,NaN,NaN
13,"(176, 178)",(177),NaN,NaN,0.108696,NaN,NaN,NaN,NaN
14,"(178, 177)",(176),NaN,NaN,0.108696,NaN,NaN,NaN,NaN
15,(176),"(178, 177)",NaN,NaN,0.108696,NaN,NaN,NaN,NaN
16,(177),"(176, 178)",NaN,NaN,0.108696,NaN,NaN,NaN,NaN
17,(178),"(176, 177)",NaN,NaN,0.108696,NaN,NaN,NaN,NaN

In [16]:
res = res[['antecedents', 'consequents', 'support']]
res

   antecedents consequents   support
0        (176)       (177)  0.253623
1        (177)       (176)  0.253623
2        (179)       (177)  0.253623
3        (177)       (179)  0.253623
4        (176)       (178)  0.217391
5        (178)       (176)  0.217391
6        (176)       (179)  0.217391
7        (179)       (176)  0.217391
8         (93)       (100)  0.181159
9        (100)        (93)  0.181159
10       (178)       (177)  0.108696
11       (177)       (178)  0.108696
12  (176, 177)       (178)  0.108696
13  (176, 178)       (177)  0.108696
14  (178, 177)       (176)  0.108696
15       (176)  (178, 177)  0.108696
16       (177)  (176, 178)  0.108696
17       (178)  (176, 177)  0.108696